.score-card {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
}

/* ProgressBar */

.progress .progress-bar {
    height: 15px;
    border-radius: 10px;
}

.progress {
    margin: 20px 0;
    width: 100%;
    background-color: #cacaca;
    border-radius: 10px;
}

.progress-bar {
    width: 0;
    background-color: #6c93e3;
    transition: width 1s cubic-bezier(0.2, 1.07, 0.56, 0.97);
}