.ad-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.1);
    margin-bottom: 16px;
    padding: 10px;
    position: relative;
    width: 75%;
}

.ad-card.card {
    background-color: none;
}

.form-border {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }